.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 1em 0 2em;
	font-weight: 300;
}

/* Nav */
/* .tabs nav {
	text-align: center;
} */

.tabs nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.tabs nav ul li {
	border: 1px solid #becbd2;
	border-bottom: none;
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
}

.tabs nav li.tab-current {
	border: 1px solid #47a3da;
	box-shadow: inset 0 2px #47a3da;
	border-bottom: none;
	z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 100%;
	bottom: 0;
	width: 1000px;
	background: #47a3da;
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: #becbd2;
	display: block;
	font-size: 1.1em;
	line-height: 2.5;
	padding: 0 1.25em;
	white-space: nowrap;
}

.tabs nav a:hover {
	color: #768e9d;
}

.tabs nav li.tab-current a {
	color: #47a3da;
}

/*Block CSS*/

/*Block quick search*/
#scrolling {
	height: 300px;
	width: 320px;
	overflow: hidden;
	position: absolute;
	margin-top: 32px;
	border: none
}

#result {
	position: absolute;
	width: 320px;
	padding: 10px;
	display: none;
	margin-top: -1px;
	border-top: 0px;
	overflow: hidden;
	border: 1px #CCC solid;
	background-color: white;
}
.show {
	padding: 10px;
	border-bottom: 1px #999 dashed;
	font-size: 15px;
	height: 50px;
	background-color: #ffffff;
}
.show:hover {
	background: #4c66a4;
	color: #FFF;
	cursor: pointer;
}

/* Icons */
.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}

/* Content */
.content section {
	font-size: 1.25em;
	padding: 2px 1px;
	display: none;
	max-width: 1230px;
	margin: 0 auto;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Fallback example */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #47a3da;
}

.content section.content-current {
	display: block;
}
.bodytext img{
	margin-right: auto;
}
table .chapter-content{
    table-layout:fixed;
}

.chapter-content {
  max-height:350px;
  overflow-y:auto;
}
.chapter-content-head{
	width: 98%;
}
a.genre{
	color: #FFF;
}